<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.AttrKeyMapper">

    <select id="listAttrInfo" resultMap="AttrKeyVo">
        select * from attr_key where is_deleted = 0
    </select>
    <resultMap id="AttrKeyVo" type="com.atguigu.lease.web.admin.vo.attr.AttrKeyVo">
        <id column="id" property="id"/>
        <collection property="attrValueList" column="id" select="attrValueList"/>
    </resultMap>
    <select id="attrValueList" resultType="com.atguigu.lease.web.admin.vo.attr.AttrKeyVo">
        select * from attr_value where attr_key_id = #{id} and  is_deleted = 0
    </select>
</mapper>
