<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.FeeKeyMapper">

    <select id="listFeeKeyVo" resultMap="FeeKeyVo" >
        select * from fee_key where is_deleted = 0
    </select>
    <resultMap id="FeeKeyVo" type="com.atguigu.lease.web.admin.vo.fee.FeeKeyVo">
        <id property="id" column="id"/>
        <collection property="feeValueList" column="id" select="feeKeyVo"/>
    </resultMap>
    <select id="feeKeyVo" resultType="com.atguigu.lease.model.entity.FeeValue">
        select * from fee_value where fee_key_id = #{id} and fee_value.is_deleted = 0
    </select>
</mapper>
