<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.ViewAppointmentMapper">
    <select id="pageQuery" resultMap="AppointVo">
        select * , lease.apartment_info.id as apId from view_appointment
        join apartment_info on apartment_info.id = view_appointment.apartment_id
        <where>
            ${ew.SqlSegment}
            <if test="queryVo.districtId != null">
                and #{queryVo.districtId} = district_id
            </if>
            <if test="queryVo.cityId != null">
                and #{queryVo.cityId} = city_id
            </if>
        <if test="queryVo.provinceId != null" >
            and #{queryVo.provinceId} = province_id
        </if>
        <if test="queryVo.name!=null">
            and #{queryVo.name} = view_appointment.name
        </if>
        <if test="queryVo.phone!=null">
            and #{queryVo.phone} = view_appointment.phone
        </if>
        </where>
    </select>
    <resultMap id="AppointVo" type="com.atguigu.lease.web.admin.vo.appointment.AppointmentVo">
        <id property="id" column="id"/>
        <association property="apartmentInfo" column="apId" select="apartmentInfo"/>
    </resultMap>
    <select id="apartmentInfo" resultType="com.atguigu.lease.model.entity.ApartmentInfo">
        select * from apartment_info where id = #{apId} and is_deleted = 0
    </select>
</mapper>
